@import "tailwindcss";
@import "./theme.css";
@import "./fonts.css";
@source "../**/*.{js,ts,jsx,tsx}";
@import "tw-animate-css";


@theme {
  /* 手描き風のガタガタアニメーションを復活 */
  --animate-rough: rough 0.1s infinite;
  @keyframes rough {
    0% { transform: translate(0, 0); }
    50% { transform: translate(0.5px, 0.5px); }
    100% { transform: translate(0, 0); }
  }
}